# файлы собираемые на сервере
/package-lock.json
/node_modules/*
/build/*
public/assets/css/admin.min.css
public/assets/css/auth.min.css
public/assets/css/common.min.css
public/assets/css/site.min.css
public/assets/js/all_lib.min.js
public/assets/js/site.min.js
public/assets/js/site.min.map
public/assets/icon/*
themes/rusimperia/views/_partials/icons.php
/bower_components/*

.DS_Store
application/cache/*
/upload/*
!/upload/24/d2/fe/1b/39/61/b4/99/e0/58/f9/b7/de/2b/17/09/83/17/68/49/24d2fe1b3961b499e058f9b7de2b170983176849.jpg

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# dev-baldr
application/config/dev-baldr/
application/config/dev-baldr/*

#test
application/config/testing/
application/config/testing/*
#apps
/public/uploads/*