# файлы собираемые на сервере
/package-lock.json
/node_modules/*
/build/*
public/assets/css/admin.min.css
public/assets/css/auth.min.css
public/assets/css/common.min.css
public/assets/css/site.min.css
public/assets/js/all_lib.min.js
/bower_components/*

.DS_Store
application/cache/*


application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# dev-baldr
application/config/dev-baldr/
application/config/dev-baldr/*

#test
application/config/testing/
application/config/testing/*
#apps
/public/uploads/*