html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}



body {
    background-color: var(--color-gray);
}

.browser-upgrade {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    color: #f00;
    border: 2px solid #f00;
    border-radius: 20px;
}

.content-box {
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
}

.fa-stack .fa-ban,
.tooltip > .user-bl {
    color: tomato;
}

