.btn {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    padding: .3rem .7rem;
    margin-left: 1rem;
    background: var(--color-gray);
    border: 1px solid var(--color-dark-gray);
    border-radius: 20px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: var(--color-primary);
}
.btn-success {
    background-color: var(--color-success);
}
.btn-info {
    background-color: var(--color-info);
}
.btn-warning {
    background-color: var(--color-warning);
}
.btn-danger {
    background-color: var(--color-danger);
}