.form {

}

.form-inline {
    display: grid;
    grid-template-columns: minmax(200px, max-content) 1fr;
    grid-row-gap: .8rem;
    align-items: center;
    justify-content: center;
}

.form-label {
    text-align: right;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.form-group {

}

.form-group > .form-control {
    width: 100%;
    background-color: var(--color-gray);
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    border: 1px solid var(--color-gray);
    padding: .5rem .7rem;
    border-radius: 20px;
    outline-offset: -2px;
    outline: none;
}

.form-group > .form-control:focus {
    border-color: var(--color-dark-gray);
}
/*

.form-control-before {
    border-radius: 20px 0 0 20px;
}

.form-control-after {
    border-radius: 0 20px 20px 0;
}

.form-control-before.form-control-after {

}

.input-group {

}

.input-group-addon {

}*/

.form-wide {
    grid-column-start: span 2;
}

.form-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.btn {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    padding: .3rem .7rem;
    margin-left: 1rem;
    background: var(--color-gray);
    border: 1px solid var(--color-dark-gray);
    border-radius: 20px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: var(--color-primary);
}
.btn-success {
    background-color: var(--color-success);
}
.btn-info {
    background-color: var(--color-info);
}
.btn-warning {
    background-color: var(--color-warning);
}
.btn-danger {
    background-color: var(--color-danger);
}

.checkbox-input {
    display: none;
}

.checkbox-icon {
    cursor: pointer;
    margin-right: 15px;
}

.checkbox-icon:before {
    content: "\f0c8";
}

.checkbox-input:checked + .checkbox-label > .checkbox-icon:before {
    content: "\f14a";
}