.main-header {
    background: url("/assets/img/main_head.jpg") center no-repeat;
    background-size: auto 100%;
}

.main-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 44px;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav li {
    margin: 0 .5rem;
}

.nav-right .nav li:last-child {
    margin-left: 5rem;
    margin-right: 1rem;
}

.nav-right {

}

.nav a, .nav a:hover,
.nav a:focus, .nav a:visited,
.nav i {
    display: block;
    padding: 11px 10px;
    line-height: 1;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
}

.nav .active a {
    color: var(--color-active-menu);
}