Options All -ExecCGI -Indexes -Includes +FollowSymLinks
<IfModule mod_headers.c>
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    # редиректы с www на домен второго уровня
    RewriteCond %{HTTP_HOST} ^www\.social\.org$
    RewriteRule ^(.*)$ https://social.org/$1 [R=301,L]
    RewriteCond %{HTTP_HOST} ^www\.rusimperia\.ru$
    RewriteRule ^(.*)$ https://rusimperia.ru/$1 [R=301,L]
    # редирект на https
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # редиректим нехорошие запросы на индекс
	#	Блокировать любой запрос, пытающийся испортить base64_encode через URL
    RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
	#	Блокировать любой запрос, содержащий тег <script> в URL
	RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
	#	Блокировать любой запрос, пытающийся установить значение глобальных переменных PHP через URL
	RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
	#	Блокировать любой запрос, пытающийся изменить _REQUEST переменную через URL
	RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
	#	Перенаправлять заблокированные запросы
	RewriteRule ^(.*)$ index.php [F]
	# все что не файл или дирректория редиректим на индекс
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>